.logo_header{
    height: 40px;
}
#phone-shop {
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    padding-left: 30px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 1px;
    height: 35px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#phone-shop .phone {
    float: right;
    color: #ff1000;
}

#phone-shop .glyphicon {
    zoom: 1.7;
    color: #ff1000;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    animation: phone .5s ease-in-out infinite;
    -moz-animation: phone .5s ease-in-out infinite;
    -webkit-animation: phone .5s ease-in-out infinite;
}
@keyframes phone {
    0% {
    transform: scale(1) rotate(-25deg);
    -webkit-transform: scale(1) rotate(-25deg);
    -moz-transform: scale(1) rotate(-25deg);
    }
    50% {
        transform: scale(1.2) rotate(0);
        -webkit-transform: scale(1.2) rotate(0);
        -moz-transform: scale(1.2) rotate(0);
    }
    100% {
        transform: scale(1) rotate(-25deg);
        -webkit-transform: scale(1) rotate(-25deg);
        -moz-transform: scale(1) rotate(-25deg);
    }
}
@media (max-width: 991px){
    .logo_header {
        height: 89px;
    }
    .logo {
        padding: 10px 26px;
        display: block;
    }
    .form-search {
        width: 100%;
    }
    .form-search input.input-text {
        width: 87%;
    }
    #phone-shop {
        float: left;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .form-search {
        margin-left: 0;
    }
    .nxpface{
        display: none !important;
    }
}
